[submodule "Cragine/deps/glfw"]
	path = Cragine/deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Cragine/deps/spdlog"]
	path = Cragine/deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Cragine/deps/VkBootstrap"]
	path = Cragine/deps/VkBootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "Cragine/deps/vma"]
	path = Cragine/deps/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
